
.orbit-spinner {
  
  height: 150px !important;
  width: 150px !important;
 
}

.right-aligned {
        display: flex;
        justify-content: flex-end;
          margin-right: 40px;
   
      }
      
.scyanImage {
  
  position:center;
  
  
}